@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{margin: 0; padding: 0;font-family: 'Roboto', sans-serif; font-weight: 400;}

*:focus{
  outline: none;
}
.image-area{
  height: 400px;
  /* background-image: url("../images/placeholder.png"); */
  /* background-position: center;
  background-size: cover; */
}
.carousel-cus{
    height: 400px;
}

.bold{
    font-weight: 500;
}

.carousel-cus div{
    height: 100%;
}
.carousel-cus img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-y-auto{
    overflow-y: auto;
}

.cus-rounded{
  border-radius: 56px;
  height: 56px;
}

.flex-1{
  flex:1
}

.w-45{
  width: 45%;
}

.w-80{
    width: 80%;
}

.min-w-320{
  min-width: 320px;
}

.max-w-800{
    max-width: 800px;
  }

.bg-transparent{
  background-color: transparent;
}

.bg-light-opacity{
    background-color: rgba(216, 216, 216, 0.8);
  }

.bg-blur{
    background-color: rgba(0, 0, 0, .5);
  }

.shadow{
    box-shadow: 0px 0px 10px 0px #ccc;
}

.list-group-item{
    background-color: transparent;
}

footer .list-group-item{
    border: none;
    text-align: center;
}

.cus-list{
    list-style: none;
}

.cus-list li{
    padding: 20px 0;
}

.text-small{
    font-size: small;
}

.text-x-small{
    font-size: x-small;
}

.text-x-large{
    font-size: x-large;
}

.center-v{
    display: center;
    align-items: center;
    /* justify-content: center; */
}

/* #my-question-list li:hover{
    background-color: #efefef;
    border-radius: 3px;
    cursor: pointer;
} */

.cursor-pointer{
    cursor: pointer;
}

.border-lg-round{
    border-radius: 20px;
    background-color: white;
}
.border-m-round{
    border-radius: 10px;
    background-color: white;
}
@media (max-width: 575.98px) {
    .carousel-cus{
        height: 200px;
    }
  }


