body{
          background-image:url("background2.jpg");
          background-size: cover;
          background-position: initial;
          background-repeat: no-repeat;
      }
.container{
    border: 1px solid #fff; 
    padding: 50px 60px; 
    margin-top: 20vh;
    -webkit-box-shadow: -8px -1px 73px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -8px -1px 73px 1px rgba(0,0,0,0.75);
    box-shadow: -8px -1px 73px 1px rgba(0,0,0,0.75);
}
.form-control{
    border: none;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;

}
.form-horizontal{
  margin-left: 140px;
}


